<mat-card class="example-card">
  <img mat-card-image src="./assets/MTS_pancake101-1644924-Screenshot.jpg" alt="No image T.T">
  <mat-card-content>
    <p>
    Счастья тебе семейного, бабла на всякие прикольные органайзеры, красивые ручки, машины , квартиры , загородные пентхаусы(не только в Sims)
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="Previous()"  class="previous">Назад</button>
    <button mat-button (click)="Next()" class="next">Го некст</button>
  </mat-card-actions>
</mat-card>

