<mat-card class="example-card">
  <div class="gifts">
    <mat-card class="example-card-mini">
      <img mat-card-image height="80%" src="./assets/uno.png" alt="No image T.T">
      <mat-card-content>
        <p>
          Лаки
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card-mini">
      <img mat-card-image height="80%" src="./assets/ac0e07ebbf1d6cb3ef00a44bb08ac4afbe64d30a_original.jpg" alt="No image T.T">
      <mat-card-content>
        <p>
          Наборчики колец
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card-mini">
      <img mat-card-image height="80%" src="./assets/7ji558fal2w6315wes30ot69504eg869.webp" alt="No image T.T">
      <mat-card-content>
        <p>
          Бокалы праздничные или нет
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card-mini">
      <img mat-card-image height="80%" src="./assets/IMG_0112.jpg" alt="No image T.T">
      <mat-card-content>
        <p>
          Турка
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card-mini">
      <img mat-card-image height="80%" src="./assets/Steam-logo-2-600x314.png" alt="No image T.T">
      <mat-card-content>
        <p>
          Игра в Стиме
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card-mini">
      <img mat-card-image height="80%" src="./assets/kak_pravilno_postavit_vopros_pered_ekspertom_1.jpg" alt="No image T.T">
      <mat-card-content>
        <p>
          Другое
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card-content>
    <p>
      Выбери себе подарочек. Сейчас реализовать его нет возможности, но надеюсь это не затянется.
      P.S тут тоже нет обратной связи , ответ пиши мне.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="Previous()" class="previous">*стрелка назад</button>
    <button mat-button (click)="Next()" class="next">Okey</button>
  </mat-card-actions>
</mat-card>
