<mat-card class="example-card">
  <img mat-card-image src="./assets/make-you-3d-render-or-a-thumbnail-of-valorant-or-league-of-legends-characters.webp" alt="No image T.T">
  <mat-card-content>
    <p>
      Кстати, о "го некст", мб в Валорант?
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="Previous()" class="previous">Хочу назад</button>
    <button mat-button (click)="Next()" class="next">Окей, погнали </button>
    <button mat-button (click)="Val()" class="val">Фу, валорант отстой</button>
  </mat-card-actions>
</mat-card>
