.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}

.example-card {
  max-width: 600px;
  margin-top: 60px;
}

.example-header-image {
  background-size: cover;
}

button {
  background-color: bisque;
  margin: 15px;
}

.next:hover {
background-color: green;
}

.previous:hover {
  background-color: red;
}

.val:hover {
  background-color: red;
}
