<mat-card class="example-card">
  <img mat-card-image src="../../../assets/6300280d7ca111eea8d95696910b1137_upscaled.jpg" alt="No image T.T">
  <mat-card-content>
    <p>
      Шутка XD. Тут нет обратной связи.
      Но, если реально хочешь, то ты знаешь где нас(меня) найти. Или не знаешь.
      Там Алексий 14 новый сервер в дисе создал, в старом почти никто не сидит.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="Previous()" class="previous">*стрелка назад</button>
    <button mat-button (click)="Next()" class="next">Ха-ха, вот это ты шутница (нет). Дальше</button>
  </mat-card-actions>
</mat-card>
